/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"app/layout.tsx","import":"","arguments":[{"src":"./fonts/GeistVF.woff","variable":"--font-geist-sans","weight":"100 900"}],"variableName":"geistSans"} ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: '__geistSans_1e4310';
src: url(/_next/static/media/4473ecc91f70f139-s.p.woff) format('woff');
font-display: swap;
font-weight: 100 900;
}@font-face {font-family: '__geistSans_Fallback_1e4310';src: local("Arial");ascent-override: 85.83%;descent-override: 20.52%;line-gap-override: 9.33%;size-adjust: 107.19%
}.__className_1e4310 {font-family: '__geistSans_1e4310', '__geistSans_Fallback_1e4310'
}.__variable_1e4310 {--font-geist-sans: '__geistSans_1e4310', '__geistSans_Fallback_1e4310'
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"app/layout.tsx","import":"","arguments":[{"src":"./fonts/GeistMonoVF.woff","variable":"--font-geist-mono","weight":"100 900"}],"variableName":"geistMono"} ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: '__geistMono_c3aa02';
src: url(/_next/static/media/463dafcda517f24f-s.p.woff) format('woff');
font-display: swap;
font-weight: 100 900;
}@font-face {font-family: '__geistMono_Fallback_c3aa02';src: local("Arial");ascent-override: 69.97%;descent-override: 16.73%;line-gap-override: 7.61%;size-adjust: 131.49%
}.__className_c3aa02 {font-family: '__geistMono_c3aa02', '__geistMono_Fallback_c3aa02'
}.__variable_c3aa02 {--font-geist-mono: '__geistMono_c3aa02', '__geistMono_Fallback_c3aa02'
}

/*!************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/global.css ***!
  \************************************************************************************************************************************************************************************************************************************************************/
/* global.css */

@font-face {
  font-family: 'GMX';
  src: url('/fonts/GMX-Regular.woff2') format('woff2'),
       url('/fonts/GMX-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GMX';
  src: url('/fonts/GMX-Bold.ttf') format('ttf'),
       url('/fonts/GMX-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: #1f423f; /* Fondo verde */
  color: #d2a15e;            /* Color de texto */
  font-family: 'GMX', sans-serif;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 32px;
  color: #d2a15e;
}

.form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  width: 300px;
  border: 2px solid #d2a15e;
  background-color: #d2a15e;
  color: #1f423f;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #d2a15e;
  color: #1f423f;
  border: 2px solid #d2a15e;
  cursor: pointer;
}

.resultCount {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
  color: #d2a15e;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.resultItem {
  border: 2px solid #d2a15e;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #1f423f;
}

.thumbnail {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border: 2px solid #d2a15e;
}

.videoTitle {
  margin-top: 10px;
  font-size: 16px;
  color: #d2a15e;
}

.noResults {
  text-align: center;
  font-size: 18px;
  color: #d2a15e;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pageButton {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #d2a15e;
  color: #1f423f;
  border: 2px solid #d2a15e;
}

.pageInfo {
  font-size: 16px;
  color: #d2a15e;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: #fff;
  padding: 20px;
  border: 2px solid #d2a15e;
  position: relative;
  width: 50vw;
  max-width: 1200px;
}

.modalCloseButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f00;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
}

.modalVideo {
  width: 100%;
  height: auto;
  max-height: 90vh;
  object-fit: contain;
}

